<div id="help" style="position:relative;z-index: 100;">

	<div id="help_content">

		<div class="x_button1" onclick="hideHelp()"><i class="fa fa-close"></i></div>

		<br>
		<h2>How to Play SAMPLR</h2>
		Click on each cell to trigger the samples in the main SAMPLR rack or use the keyboard keys listed below to trigger audio samples.

		<br><br>
		<div class="center">
		<div class="keyholder">S</div><div class="keyholder">D</div><div class="keyholder">F</div><div class="keyholder">G</div>
		<br>
		<div class="keyholder">Z</div><div class="keyholder">X</div><div class="keyholder">C</div><div class="keyholder">V</div>
		</div>

		<h2>How to Choose New Samples</h2>
		<ol>
		<li>Click Browse Sample Bank button to open the full array of available samples
		<li>Clicking on each sample in the Sample Bank will play that sample
		<li>Choose the new sample you would like to use by clicking on that cell from the Sample Bank
		<li>Click on the cell you would like to replace in your main Samplr Rack
		</ol>

		<h2>How to Upload New Samples</h2>
		<ol>
		<li>Click Upload New Sample button to open the Add Sample window
		<li>Give your new sample a name in the Sample Name field
		<li>Click the Choose File button to open the file browser
		<li>Select the new .wav or .mp3 file you would like to upload
		<li>Click Open
		<li>Choose a Category from the dropdown list
		<li>Click Create Sample button
		<li>Find your new sample in the Sample Bank once page reloads
		</ol>
	</div>

</div>