<div id="help" style="position:relative;z-index: 100;">

	<div id="help_content">

		<div class="x_button1" onclick="hideHelp()"><i class="fa fa-close"></i></div>

		<br>
		<h2>How to Play SAMPLR</h2>
		<ol>
			<li>Click on each cell to trigger the samples in the main <strong>SAMPLR rack</strong> or use the keyboard keys listed below to trigger audio samples

			<br><br>
			<div class="center">
				<div class="keyholder">S</div><div class="keyholder">D</div><div class="keyholder">F</div><div class="keyholder">G</div>
				<br>
				<div class="keyholder">Z</div><div class="keyholder">X</div><div class="keyholder">C</div><div class="keyholder">V</div>
			</div><br>

			<li>Use the sliders on each sample in the main <strong>SAMPLR rack</strong> to adjust the volume of each sample
		</ol>

		<h2>How to Choose a New Kit</h2>
		<ol>
			<li>Click <strong>Choose a Kit</strong> button to open list of available kits
			<li>Click the button for the kit you would like to use
		</ol>

		<h2>How to Choose New Samples</h2>
		<ol>
			<li>Click <strong>Browse Sample Bank</strong> button to open the full array of samples
			<li>Clicking on each sample in the <strong>Sample Bank</strong> will play that sample
			<li>Choose the new sample you would like to use by clicking on that cell from the <strong>Sample Bank</strong>
			<li>Click on the cell you would like to replace in your main <strong>SAMPLR Rack</strong>
		</ol>

		<h2>How to Upload New Samples</h2>
		<ol>
			<li>Click <strong>Upload New Sample</strong> button to open the <strong>Add Sample</strong> window
			<li>Give your new sample a name in the <strong>Sample Name</strong> field
			<li>Click the <strong>Choose File</strong> button to open the file browser
			<li>Select a new .wav or .mp3 file you would like to upload
			<li>Click <strong>Open</strong>
			<li>Choose a <strong>Category</strong> from the dropdown list
			<li>Click <strong>Create Sample</strong> button
			<li>Find your new sample in the <strong>Sample Bank</strong> once page reloads
		</ol>

		<h2>How to Record New Samples</h2>
		<ol>
			<li>Click <strong>Upload New Sample</strong> button to open the <strong>Add Sample</strong> window
			<li>Click the <strong>Open Audio Recorder</strong> button
			<li>Click <strong>Allow</strong> in the pop-up on the top of the page to allow the app to connect with your computer's microphone
			<li>Click the <strong>Microphone</strong> button to start recording
			<li>Click the <strong>Microphone</strong> button again to stop recording
			<li>Click the <strong>Disk</strong> to save your recording to your local machine
			<li>Follow the steps in the <strong>How to Upload New Samples</strong> section to add your recording to the <strong>Sample Bank</strong>
		</ol>
	</div>

</div>
<br><br>